@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $white;
  color: $big-stone;
  font-family: 'Poppins', sans-serif;
  border: 16px solid $big-stone;
}

